<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" stopOnWarning="false" bootstrap="config/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Main Test Suite">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Converters">
      <directory>tests/Converters</directory>
    </testsuite>
    <testsuite name="Console">
      <directory>tests/Console</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <groups>
    <exclude>
      <group>large</group>
    </exclude>
  </groups>
</phpunit>
